@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout style="background-color: #f5f8fb; min-height: 100vh; display: flex; flex-direction: column;">
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">Task Manager</MudText>
     </MudAppBar>

    <MudPaper Width="250px" Elevation="1" Class="py-3" Style="position: fixed; top: 64px; left: 0; height: calc(100% - 64px);">
            <MudNavMenu Bordered="true">
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.OtherHouses" Href="/">Active Tasks</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AddBox" Href="addtask">Add New Task</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.CheckBox" Href="completedtasks">Completed Tasks</MudNavLink>
            </MudNavMenu>
         </MudPaper>
    
    <MudMainContent Class="flex-grow-1">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent> 
</MudLayout>  


  @* <div class="page">
     <div class="sidebar"
         <NavMenu />
         </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@    




